.task {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  width: 100%;
  padding-top: 4rem;
  height: 100%;

}

.row {
  width: 60%;
  grid-auto-flow: column;
  display: inline-grid;
  grid-gap: 20%;
}

.setScreen {
  display: grid;
  justify-items: center;
}

.setScreen span {
  width: 80%;
  margin: 5px;


}

.setScreen input {
  width: 70%;
  margin: 5px;

}

.block {
  border: solid 7px #16cbbb;
  border-radius: 30px;
  width: 170px;
  display: grid;
}
/*num */
.num {
  background-color: #16cbbb;
  border-radius: 5px;
  border: #16cbbb;
  margin: 14px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  color: #fffb03;
  padding: 5px
}

.red {
  color: red;
}
/*num end */



.group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: flex-start;
  margin: 5px;
  border: solid 7px #16cbbb;
  align-self: end;
  border-radius: 30px;

}

.button{
  background-color: #16cbbb;
  border-radius: 5px;
  border: solid 2px #16cbbb;
}
